Django==5.2.6
djangorestframework==3.16.1
django-filter==24.3
django-storages[s3]==1.14.6
boto3==1.40.40
pillow==11.3.0
psycopg2-binary==2.9.10
pytest==8.4.2
pytest-django==4.11.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.7.1